[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scheduler = {editable = true,path = "."}
pytest = "*"
streamlit = "*"
graphviz = "*"

[requires]
python_version = "3.7"
